
<div id="col-1"><br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.374886518553!2d73.78033711436865!3d18.511953674270462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2950c54ab274f%3A0xdce563872011cead!2sEmbone%20Technologies!5e0!3m2!1smr!2sin!4v1635147995166!5m2!1smr!2sin" width="95%" height="425" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div id="col-2"><br><br><br>
  <h5 font-famity="nexa-script-light"> Reach Us</h5><hr>
  <mat-icon aria-hidden="false" aria-label="Example place icon"> place</mat-icon>401, Heera Heights,opposite to Maratha Mandir, Bavdhan, Pune-411046, Maharashtra, India<br>
  <mat-icon aria-hidden="false" aria-label="Example person icon"> person</mat-icon>Nilesh Pardhe<br>
  <mat-icon aria-hidden="false" aria-label="Example phone icon"> phone</mat-icon>8048372570<br>
  <hr> <h6>Follow us</h6> 
  <mat-icon>facebook</mat-icon>
  <mat-icon>youtube</mat-icon>
</div>