
<footer class="page-footer font-small teal pt-2">
    <div class="text-md-left p-3" style="background-color: rgba(0, 0, 0.0, 0.2);">
  
   

    <!----
    <div class="col-md-2 mb-md-0 mb-2">
        <P>About Us</P>
        <p>Contact Us</p> --->

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-2 mt-md-0 mt-2">
          <h6 class="font-weight-bold">Supplier Toolkits </h6>
          <p>Sell on indiamart</p>
            <P>Latest BuyLead</P>
            <p>Learning Center</p>
        </div>

        <hr class="clearfix w-60 d-md-none pb-2">
        <div class="col-md-2 mb-md-0 mb-2">
          <h6 class="font-weight-bold">Social Media</h6>
          <p>Follow us on</p><img src="https://www.bing.com/th?id=OIP.5HAPgApQmly3A1jOmARLhQHaHa&w=95&h=95&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2" height="15px" width="15px" position="canter">
          <img src="https://www.bing.com/th?id=OIP.drMRXNEaMjUGKpsG5tRCSwHaHd&w=96&h=96&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2" height="15px" width="15px" position="center">           
        </div>

        <hr class="clearfix w-60 d-md-none pb-2">
        <div class="col-md-2 mb-md-0 mb-2">
          <h6 class="font-weight-bold">Working Time</h6>
          <p>9.30am to 7.00pm</p>
         <!--- <md-button class = "md-raised md-primary">Contact</md-button>-->
          <a mat-button routerLink="contactus" routerLinkActive="router-link-active"  class="btn btn-lg btn-secondary">contact me!</a>
        </div>
        
        <hr class="clearfix w-60 d-md-none pb-2">
        <div class="col-md-2 mb-md-0 mb-2">
          <h6 class="font-weight-bold">Event</h6>
         <p>Trade to Show</p>
          <p>Conferences</p>
          <p>Event by Country</p>
        </div>
        <hr class="clearfix w-60 d-md-none pb-2 ">
        <div class="col-md-2 mb-md-0 mb-2">
<img src="https://4.imimg.com/data4/WF/MF/MY-8429132/embone-technologies-120x120.png">
      </div>
</div>
    </div>
  </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"><hr>
        © 2020 Copyright:
      <a href="https://www.indiamart.com/embone-technologies"> embone-technologies.com</a>
    </div>

  </footer>