
  #col-1 {
   
    width: 50%;
    float: left;
    height: 73vh;
    z-index: 1010101010
  }
  
  #col-2 {
   
    width: 50%;
    float: right;
    height: 70vh;
    background-color: #C8E3D4;
    z-index: 1010101010
  }
  agm-map {
    height: 300px;
  }
  .h6
  {
    color:"blue";
  }