
.homecontent
{
    color:cornsilk;
    position:absolute;
    top:50%;
    font: size 30px;
    background-color:blue;
}
.homecontent a
{
    margin-top:10px;
}
.mat-carousel
{
    height:600px;
    width: 90px;
    font-size: x-large;
    background-color: aquamarine;
  }

  .mat-carousel-slide{
    height:800px;
    width: 50px;
    font-size: x-large;
  }
  .div
  {
      font-size:x-large;
  }
 
